<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventos</title>

    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
  </head>

<style>

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
    text-align: center;
    color: #ddd;
}

h2 {
    font-size: 1.5em;
    margin: 20px 0;
    text-align: center;
    color: #ddd;
}

h3 {
    font-size: 1.5em;
    margin: 20px 0;
    text-align: center;
    color: #ddd;
}

body {
    font-family: 'JetBrains Mono';
    padding-bottom: 100px;
    /* Ajusta este valor según la altura de tu footer */
    background: linear-gradient(45deg,
            rgb(34, 45, 91),
            rgb(46, 33, 98),
            rgb(40, 80, 120),
            rgb(18, 19, 44),
            rgb(28 28 67));
    width: 100%;

    & .body_content {
        margin: 0 auto;
        width: 80%;

        & .span_categories {
            color: #ceabec;
        }

    }
}

.body_content {
        margin: 0 auto;
        width: 80%;}

header {
    width: 80%;
    display: flex;
    justify-content: center;
    /* Centra el header */
    margin: 80px auto; /* Cambiado para centrar horizontalmente el header en la página */
}

.header_content {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    border: 2px solid #454e97;
    border-radius: 40px;
    align-items: center;
    padding: 0 40px;
    display: flex;
    height: 100px;
    width: 100%;
    background: linear-gradient(45deg, rgb(44 44 119), rgb(39 39 102), rgb(40 46 120), rgb(37 39 96), rgb(28 28 67));
}

.header_content h3,
.header_content h3 a,
.header_content nav ul li a {
    text-decoration: none;
    color: #ceabec;
}

    
/* Estilos para el hover de los enlaces del header */
header a:hover {
    color: #ffeb3b;
    /* Amarillo */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    margin: 20px 0;
}

#banner {
    width: 80%;
    background: linear-gradient(45deg,
            rgba(0, 0, 0, 0.6),
            rgba(74, 20, 140, 0.6),
            rgba(59, 62, 149, 0.6),
            rgba(74, 20, 140, 0.6),
            rgba(0, 0, 0, 0.6));
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    /* Redondea los bordes */
}

footer {
    background: linear-gradient(45deg,
            rgb(44 44 119),
            rgb(39 39 102),
            rgb(40 46 120),
            rgb(37 39 96),
            rgb(28 28 67));
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.input_container {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}

.input_style {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.label_style {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.header_login {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 80px 0 60px 0;

    & .header_content_login {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        justify-content: space-between;
        border: 2px solid #454e97;
        border-radius: 40px;
        align-items: center;
        padding: 0 40px;
        display: flex;
        height: 100px;
        width: 80%;
        background: linear-gradient(45deg,
                rgb(44 44 119),
                rgb(39 39 102),
                rgb(40 46 120),
                rgb(37 39 96),
                rgb(28 28 67));

        & h3,
        & h3 a,
        & nav ul li a {
            text-decoration: none;
            color: #ceabec;
        }
    }
}




/* Estilos para la tabla */
table {

   display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    

    /* Bordes sutiles */
}

/* Estilos para las celdas de la tabla */
th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;

}

/* Estilos para la fila de encabezado */
th {
    background: linear-gradient(0deg,
            rgb(34, 45, 91),
            rgb(46, 33, 98),
            rgb(40, 80, 120),
            rgb(18, 19, 44),
            rgb(28 28 67));
    color: #dbdbdb;
    /* Asegura que el texto sea legible */
    font-size: 16px;
    /* Tamaño del texto más grande */
    font-weight: 600;
    /* Texto en negrita */
    text-transform: uppercase;
    /* Texto en mayúsculas */
}

/* Estilos para filas impares */
tr:nth-child(odd) {
    background-color: #5921b467;
    color: aliceblue;
}

tr:nth-child(even) {
    background-color: #26166575;
    color: aliceblue;
}

/* Estilos para filas al pasar el mouse */
tr:hover {
    background-color: #ca12b15c;
    color: thistle;
}


/* Estilos específicos para labels */
label {
    color: white;
    /* Asegura que los labels sean blancos */
    display: block;
    /* Hace que cada label aparezca en su propia línea */
    margin-bottom: 2px;
    /* Espacio debajo de cada label */
    font-size: 12px;
    /* Tamaño más pequeño del texto para los labels */
}

/* Estilos específicos para inputs */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {

    width: 80%;
    /* Reduce el ancho para hacer el formulario más compacto */
    padding: 6px;
    /* Reduce el padding dentro de los inputs */
    margin-bottom: 10px;
    /* Reduce el espacio debajo de cada input */
    border-radius: 4px;
    /* Bordes ligeramente redondeados para los inputs */
    border: 1px solid #ddd;
    /* Borde sutil */
    font-size: 14px;
    /* Tamaño del texto reducido para los inputs */
}

/* Específico para el input de observaciones */
textarea {
    width: 80%;
    /* Ajusta el ancho para ser más grande */
    height: 150px;
    /* Altura suficiente para alrededor de 400 letras */
    padding: 8px;
    /* Espacio interior más generoso */
    margin-bottom: 20px;
    /* Espacio debajo del textarea */
    border-radius: 5px;
    /* Bordes redondeados */
    border: 1px solid #ddd;
    /* Borde sutil */
    font-size: 14px;
    /* Mantiene el tamaño de fuente coherente */
}

/* Botones con estilos adicionales para mejorar la visibilidad */
input[type="submit"],
button {

    background-color: #007bff;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    padding: 8px 12px;
    /* Ajusta el padding para ser más compacto */
    border: none;
    /* Elimina el borde */
    border-radius: 4px;
    /* Bordes ligeramente redondeados */
    cursor: pointer;
    /* Cambia el cursor a mano cuando se pasa por encima */
    font-size: 16px;
    /* Ajusta el tamaño del texto */
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
    /* Oscurece el botón al pasar el mouse */
}

.form-container {
    min-width: 400px;
    /* Aplica aquí otros estilos como padding, márgenes, etc., según sea necesario */
    margin: auto;
    /* Centrar el contenedor si es deseado */
    padding: 20px;
    background-color: #444;
    /* O cualquier otro color de fondo */
}

.ver_evento {
    color: white;
    /* Color del texto */
    padding: 8px 12px;
    /* Ajusta el padding para ser más compacto */
    border-radius: 4px;
    /* Bordes ligeramente redondeados */
    cursor: pointer;
    /* Cambia el cursor a mano cuando se pasa por encima */
    font-size: 16px;
    /* Ajusta el tamaño del texto */
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(135deg,
            rgb(34, 45, 91),
            rgb(46, 33, 98),
            rgb(40, 80, 120),
            rgb(18, 19, 44),
            rgb(28 28 67));
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(135deg,
            rgb(34, 45, 91),
            rgb(46, 33, 98),
            rgb(40, 80, 120),
            rgb(18, 19, 44),
            rgb(28 28 67));
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
    text-align: center;

    & .inputs_container {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;

        & div {
            flex: 1;
        }
    }
}

.custom-button {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.custom-button:hover {
    background-color: #0056b3;
}

.flex-container {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.flex-columna {
    flex: 1;

    &:nth-child(1) {
        flex: 1.5;
    }
}

.tabla {
    height: calc(100vh - 200px);
    padding: 0 40px;
    overflow: auto;
}

.btns_container {
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 10px;
}

</style>

<body>
    <header>
        <div class="header_content">
          <a href="/"><h3>Vision App</h3></a>
          <nav>
            <ul>
                <li><a href="/nuestros_servicios">Servicios</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="/chat">ChatAi</a></li>
            </ul>
          </nav>

          <h3><a href="">Work With Us</a></h3>
        </div>
      </header>

    <div class="body_content">

        <div class="flex-container">
            <div class="flex-columna tabla">
                <!-- Aquí va tu tabla -->
                <h2>Lista de Eventos</h2>
                <div class="filtro">
                    <div class="inputs_container">
                        <div>
                            <label for="filtro-id">ID del Evento:</label>
                            <input type="text" id="filtro-id" name="filtro-id">
                        </div>
                        <div>
                            <label for="filtro-fecha">Fecha:</label>
                            <input type="date" id="filtro-fecha" name="filtro-fecha">
                        </div>
                    </div>
                    <div class="btns_container">
                        <button onclick="limpiarFiltro()">Limpiar</button>
                    </div>
                </div>
                <div class="tabla-eventos-contenedor">

                    <h3>Parque ID: <%= id_del_parque %></h3>
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Piloto</th>
                                <th>Testigo</th>
                                <th>Fecha de la visita</th>
                                <th># Paneles evaluados</th>
                                <th>Observaciones</th>
                                <th>Informe</th>
                                <th>Fecha del informe</th>
                            </tr>
                            <% eventos.forEach(evento => { %>
                                <tr>
                                    <td><%= evento.id_evento %></td>
                                    <td><%= evento.piloto_evento %></td>
                                    <td><%= evento.testigo_evento %></td>
                                    <%
                                        var fechaEvento = new Date(evento.fecha_evento);
                                        fechaEvento.setHours(fechaEvento.getHours() - 5); // Ajustar según tu zona horaria
                                    %>
                                    <td><%= fechaEvento.toLocaleString('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' }) %></td>                               
                                    <td><%= evento.cantpanel_evento %></td>
                                    <td><%= evento.ob_evento %></td>
                                    <td class="ver_informe"><a href="<%= evento.linkinforme_evento %>" class="custom-button" target="_blank">Ver Informe</a></td>
                                    <%
                                        var fechaInforme = new Date(evento.fechainforme_evento);
                                        fechaInforme.setHours(fechaInforme.getHours() - 5); // Ajustar según tu zona horaria
                                    %>
                                    <td><%= evento.fechainforme_evento %></td>
                                </tr>
                            <% }); %>
                        </table>
                </div>
            </div>
            <div class="flex-columna formulario">
                <!-- Aquí va tu formulario -->
                <h2>Agregar Nuevo Evento</h2>
                    <form class="formulario" action="/agregar-evento" method="post">
                        <label for="piloto_evento">Piloto:</label>
                        <input type="text" id="piloto_evento" name="piloto_evento" required>
                        <br>
                        <label for="testigo_evento">Testigo:</label>
                        <input type="text" id="testigo_evento" name="testigo_evento" required>
                        <br>
                        <label for="cantpanel_evento">Cantidad de paneles:</label>
                        <input type="text" id="cantpanel_evento" name="cantpanel_evento" required>
                        <br>
                        <label for="vueloini_evento">Inicio del vuelo:</label>
                        <input type="time" id="vueloini_evento" name="vueloini_evento" required>
                        <br>
                        <label for="vuelofin_evento">Fin del vuelo:</label>
                        <input type="time" id="vuelofin_evento" name="vuelofin_evento" required>
                        <br>
                        <label for="ob_evento">Observaciones:</label>
                        <textarea id="ob_evento" name="ob_evento"></textarea>
                        <br>
                        <label for="tipopanel_evento">Tipo de panel:</label>
                        <select id="tipopanel_evento" name="tipopanel_evento" required>
                            <option value="Monocristalino">Monocristalino</option>
                            <option value="Policristalino">Policristalino</option>
                        </select>
                        <br>
                        <!-- Campo oculto para enviar el ID del parque -->
                        <input type="hidden" id="id_parque_evento" name="id_parque_evento" value="<%= id_del_parque || 'default' %>">
                        
                        <button type="submit">Agregar Evento</button>
                    </form>
            </div>
        </div>

    </div>
  </div>
    <footer>
      <p>
        &copy; 2024 Vision App Laboratorio de innovación y desarrollo Factor de
        Producción SAS
      </p>
      <p>Teléfono: 3013354020 Email: ing.rafaeldh@gmail.com</p>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var filtroIdInput = document.getElementById("filtro-id");
            var filtroFechaInput = document.getElementById("filtro-fecha");

            filtroIdInput.addEventListener("input", filtrarEventos);
            filtroFechaInput.addEventListener("input", filtrarEventos);
        });

        function filtrarEventos() {
            var filtro = document.getElementById("filtro-id").value.toUpperCase();
            var filtroFecha = document.getElementById("filtro-fecha").value;
            var fechaFormateada = formatoFecha(filtroFecha);
            var filas = document.querySelectorAll(".tabla-eventos-contenedor table tr");

            for (var i = 1; i < filas.length; i++) {
                try {
                    var fila = filas[i];
                    var celdaId = fila.getElementsByTagName("td")[0];
                    var celdaFecha = fila.getElementsByTagName("td")[3];
                    var textoId = celdaId.textContent || celdaId.innerText;
                    console.log(textoId);
                    var textoFecha = celdaFecha.textContent || celdaFecha.innerText;
                    var fechaEvento = textoFecha.split(",")[0].trim();

                    if ((filtro === "" || textoId.toUpperCase() === filtro) &&
                        (filtroFecha === "" || fechaEvento === fechaFormateada)) {
                        fila.style.display = "";
                    } else {
                        fila.style.display = "none";
                    }
                } catch (error) {
                    console.error(error);
                }
            }
        }

        function formatoFecha(fecha) {
            // Formatear la fecha a dd/mm/yyyy
            var partesFecha = fecha.split("-");
            return partesFecha[2] + "/" + partesFecha[1] + "/" + partesFecha[0];
        }

        function limpiarFiltro() {
            document.getElementById("filtro-id").value = "";
            document.getElementById("filtro-fecha").value = "";
            var filas = document.querySelectorAll(".tabla-eventos-contenedor table tr");
            for (var i = 1; i < filas.length; i++) {
                filas[i].style.display = "";
            }
        }
    </script>
</body>
</html>
