<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style_index.css">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <title>Login</title>
</head>

<body>
    <div class="body_content"></div>

    <header class="header_login">
        <div class="header_content_login">
          <a href="/"><h3>Vision App</h3></a>
          <nav>
            <ul>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="/chat">ChatAi</a></li>
                <li><a href="/register">Registrar Usuario</a></li>
                
            </ul>
          </nav>


          <h3><a href="">Work With Us</a></h3>
        </div>
      </header>
    

    <div class="login-form">
    <h2>Iniciar Sesión</h2>
    <form action="/auth" method="post">

        <input type="text" name="nit"  id="nit" placeholder="NIT" required>

        <input type="password" name="pass" id="pass" placeholder="Contraseña" required>

        <input type="submit" class="btn-login" value="Iniciar Sesión">
    </form>
    <a href="register" class="btn-register"> Registrar usuario </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                icon: '<%= alertIcon %>',
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>',
            }).then(() => {
                    window.location = '/<%= ruta %>';
            });
        </script>
    <% } %>
    
    <footer>
      <p>
        &copy; 2024 Vision App Laboratorio de innovación y desarrollo Factor de
        Producción SAS
      </p>
      <p>Teléfono: 3013354020 Email: ing.rafaeldh@gmail.com</p>
    </footer>

</div>
</body>
</html>