<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Register</title>
</head>
<body>
    
    <div class="register-form">
    <h1>Registro de usuario</h1>
    <form action="register" method="post">

        <label for="user">Razon social</label>
        <input type="text" name="user" required>

        <label for="name">name</label>
        <input type="text" name="name" required>

        <label for="rol">rol</label>
        <input type="text" name="rol" required>

        <label for="pass">Password</label>
        <input type="password" name="pass" required>



        <div style="display: inline;">
            <a href="/" class="btn-cancel">Cancelar</a> <input type="submit" class="btn-save" value="Registrar">
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                icon: '<%= alertIcon %>',
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>',
            }).then(() => {
                    window.location = '/ <%= ruta %>';
            });
        </script>
    <% } %>
</body>
</html>